body{
    background-color: aquamarine;
}

h1{
    color: white;
}

.App {
    align-items: center;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .list-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  
  .list-item {
    width: 30%;
  }

  @media screen and (max-width: 1200px) {
    .list-container {
      flex-wrap: wrap;
    }
    
    .list-item {
      width: 100%;
      margin-bottom: 10px;
    }
  }